{% extends 'base.html' %}

{% block content %}
<style>
.example{
    height: 30rem;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- carousel를 구성할 영역 설정 -->
<div style="width: 100%; height:700px; margin-bottom:100px;">
    <!-- carousel를 사용하기 위해서는 class에 carousel와 slide 설정한다. -->
    <!-- carousel는 특이하게 id를 설정해야 한다.-->
    <div id="carousel-example-generic" class="carousel slide" >
        <!-- carousel의 지시자 -->
        <!-- 지시자라고는 하는데 ol태그의 class에 carousel-indicators를 넣는다. -->
        <ol class="carousel-indicators">
            <!-- li는 이미지 개수만큼 추가하고 data-target은 carousel id를 가르킨다. -->
            <!-- data-slide-to는 순서대로 0부터 올라가고 0은 active를 설정한다. -->
            <!-- 딱히 이 부분은 옵션별로 설정하게 없다. -->
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        </ol>
    <!-- 실제 이미지 아이템 -->
    <!-- class는 carousel-inner로 설정하고 role은 listbox에서 설정한다. -->
    <div class="carousel-inner" role="listbox">
        <!-- 이미지의 개수만큼 item을 만든다. 중요한 포인트는 carousel-indicators의 li 태그 개수와 item의 개수는 일치해야 한다. -->
        <div class="item active">
            <!-- 아미지 설정- -->
            <img src="https://postfiles.pstatic.net/MjAyMDA2MjZfMjk4/MDAxNTkzMTc5NzE1MTA5.5quj_hXXpZIzS1JQyIjUlprg4UcA9yZoTSEy1x2-BN8g.eote9LhI_qNUA80SQExJDeV1U9CVXEeeMoP_hZ_2jM8g.JPEG.dlwnsgur970/guide.jpg?type=w773" style="width: 100%; height:100%;">
            <!-- 캡션 설정 (생략 가능) -->
            <!-- 글자 색은 검은색 -->
            <div class="carousel-caption" style="color:white;">
            Guide
            </div>
        </div>
    <div class="item">
            <img src="https://postfiles.pstatic.net/MjAyMDA2MjZfMjI1/MDAxNTkzMTQ0ODQyODI1.3aqqmEXOfNivzi2d5TyfXi-Qa0WA89cLXD6MB9q683og.D54CLZRRtA-vuagvp7hW4HJtgNaB_R9p3TXaQfY6W9og.JPEG.dlwnsgur970/attraction.JPG?type=w773" style="width: 100%; height:100%;">
            <div class="carousel-caption" style="color:white;">
                Attractions
            </div>
        </div>
    <div class="item">
        <img src="https://postfiles.pstatic.net/MjAyMDA2MjZfMTEy/MDAxNTkzMTQ0ODU5ODcy.-wplpbpPprHEmci3Y-Eh9yRZoGrHl1h6qS3ANJfm8cAg.e9bD1l1I4ApvCdA1Gfp1zTa7qGZxUlJiKj-5KLYZeSAg.JPEG.dlwnsgur970/waterfun.JPG?type=w773" style="width: 100%; height:100%;">
            <div class="carousel-caption" style="color:white;">
                Entertainment
            </div>
        </div>
    <div class="item">
        <img src="https://postfiles.pstatic.net/MjAyMDA2MjZfNTcg/MDAxNTkzMTQ0ODYwODA1.3kBGewOIUjGh3q76XjZbla-qEkFZkWWeL8ioQ4gHf5Ag.3DJYWu4wJ06WmUymy8WbZh6qTKijJsUCBy7AnPK4Cggg.JPEG.dlwnsgur970/zootopia.JPG?type=w773" style="width: 100%; height:100%;">
            <div class="carousel-caption" style="color:white;">
                Zootopia
            </div>
        </div>
    <div class="item">
        <img src="https://postfiles.pstatic.net/MjAyMDA2MjZfNyAg/MDAxNTkzMTQ0ODQ0ODU0.zMGj556ja75uRq7df6UJ2lglRFsRw_krMtCtUrIcpx0g.MlvRukOp9V2xFA0xBptEbSOe7oNsSvm3KH_47Ifb3pQg.JPEG.dlwnsgur970/restaurant.JPG?type=w773" style="width: 100%; height:100%;">
            <div class="carousel-caption" style="color:white;">
                Restaurant
            </div>
        </div>
    <div class="item">
        <img src="https://postfiles.pstatic.net/MjAyMDA2MjZfMTk1/MDAxNTkzMTc5NjYwMzkw.f28Bxkqe-KGqMVvY-FnTH8ygMy1ctXMKGg9XQMHfj4Ug.HLUYmqWlOrFuJoJWePXGTk8TygANsCfsCBsU7gUY1eUg.JPEG.dlwnsgur970/gift_shop.jpg?type=w773" style="width: 100%; height:100%;">
            <div class="carousel-caption" style="color:white;">
                Gift Shop
            </div>
        </div>
    <div class="item">
        <img src="https://postfiles.pstatic.net/MjAyMDA2MjZfMjA2/MDAxNTkzMTQ0ODUxMzk5.gq8dY652npIsp2l0hJBPZw1MOgUKHoh0d7APS9CzGXsg.JMi2721qmeS1hP4NbNaYouiVlVCMl3-V_FtECSEqRE4g.JPEG.dlwnsgur970/jeon-dae-ri.JPG?type=w773" style="width: 100%; height:100%;">
            <div class="carousel-caption" style="color:white;">
                Jeon Dae-ri
            </div>
        </div>
    </div>
    <!-- 왼쪽 화살표 버튼 -->
    <!-- href는 carousel의 id를 가르킨다. -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <!-- 왼쪽 화살표 -->
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <!-- 오른쪽 화살표 버튼 -->
    <!-- href는 carousel의 id를 가르킨다. -->
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <!-- 오른쪽 화살표 -->
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
    </div>
</div>
<script>
    $(function(){
        // 이미지 슬라이드 컨트롤를 사용하기 위해서는 carousel를 실행해야한다.
        $('#carousel-example-generic').carousel({
        // 슬리아딩 자동 순환 지연 시간
        // false면 자동 순환하지 않는다.
        interval: 2000,
        // hover를 설정하면 마우스를 가져대면 자동 순환이 멈춘다.
        pause: "hover",
        // 순환 설정, true면 1 -> 2가면 다시 1로 돌아가서 반복
        wrap: true,
        // 키보드 이벤트 설정 여부(?)
        keyboard : true
        });
    });
</script>


<div class="container marketing">
    <div class="row row-cols-3">
        {% for blog in blogs %}
        <div class="col-sm">
        <!-- Three columns of text below the carousel -->
        <div class="card" style="width: 33rem;">
        <div class="card-header">
            <h3 class="card-title">{{ blog.title }}</h3>
        </div>
        <div class="card-body">
            <div class="example">
            <p class="card-text">{{ blog.body | safe }}</p>
            </div>
            <a href="{% url 'detail' blog.id %}" role="button" class="btn btn-primary">확인하기</a>
        </div>
        </div>
        </div>
        {% endfor %}
        </div>
</div>


{% endblock %}