{% extends 'base.html' %}

{% load static %}

{% block content %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
{#  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
  <link href="{% static 'css/detail/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
{#  <link href="css/blog-post.css" rel="stylesheet">#}
  <link href="{% static 'css/detail/css/blog-post.css' %}" rel="stylesheet"><

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="navbar-top-fixed.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{% url 'blogMain' %}">Everland</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {% for blog in blogs %}
      <li class="nav-item active">
        <a href="{% url 'detail' blog.id %}" class="nav-link">{{ blog.title }}<span class="sr-only">(current)</span></a>
      </li>
      {% endfor %}
    </ul>
    <form class="form-inline mt-2 mt-md-0" action="{% url 'search' %}" method="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="b" value="{{b}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
{#        <h1 class="mt-4">Post Title</h1>#}
          <h1 class="mt-4">{{ blog_detail.title }}</h1>
        <!-- Author -->
        <p class="lead">
          by
{#          <a href="#">Start Bootstrap</a>#}
          {{ blog_detail.author }}

          <!-- Date/Time -->
{#          <p>Posted.On.January 1. 2019 at 12:00 PM</p>#}
        <p>{{ blog_detail.pub_date }}</p>

          <!-- Preview Image -->
{#        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">#}


        <!-- Post Content -->
        <hr>
        <p class="lead">{{ blog_detail.body | safe }}</p>


        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">댓글 남기면 본인 카카오톡으로 알림이 전송되지않네요...</h5>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">{{ comment_form }}</div>
              <button type="submit" class="btn btn-primary" value="Comment">Submit</button>
            </form>
          </div>
        </div>

        {% for comment in comments %}

        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{ comment.comment_user }}</h5>
            <h5 class="mt-0">{{ comment.comment_date }}</h5>
            <h5 class="mt-0">{{ comment.comment_thumbnail_url }}</h5>
            <h5 class="mt-0">{{ comment.comment_textfield }}</h5>
          </div>
        </div>

        {% endfor %}


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="post">
              {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="b" value="{{b}}">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="">T익스프레스</a>
                  </li>
                  <li>
                    <a href="#">아마존익스프레스</a>
                  </li>
                  <li>
                    <a href="#">퍼레이드</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">사파리</a>
                  </li>
                  <li>
                    <a href="#">불꽃놀이</a>
                  </li>
                  <li>
                    <a href="#">허리케인</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
{#<script src="vendor/jquery/jquery.min.js"></script>#}
<script src="{% static 'css/detail/vendor/jquery/jquery.min.js' %}"></script>
{#<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
<script src="{% static 'css/detail/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}


import os
import sys
path = "/home/dlwnsgur970/firstProject"

if path not in sys.path:
    sys.path.append(path)

from django.contrib.staticfiles.handlers import StaticFilesHandler
from django.core.wsgi import get_wsgi_application

os.environ.setdefault("DJANGO_SETTINGS_MODULE", "config.settings")
application = StaticFilesHandler(get_wsgi_application())